pre code.hljs{display:block;overflow-x:auto;padding:1em}code.hljs{padding:3px 5px}/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/.hljs{color:#24292e;background:#fff}.hljs-doctag,.hljs-keyword,.hljs-meta .hljs-keyword,.hljs-template-tag,.hljs-template-variable,.hljs-type,.hljs-variable.language_{color:#d73a49}.hljs-title,.hljs-title.class_,.hljs-title.class_.inherited__,.hljs-title.function_{color:#6f42c1}.hljs-attr,.hljs-attribute,.hljs-literal,.hljs-meta,.hljs-number,.hljs-operator,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-id,.hljs-variable{color:#005cc5}.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#032f62}.hljs-built_in,.hljs-symbol{color:#e36209}.hljs-code,.hljs-comment,.hljs-formula{color:#6a737d}.hljs-name,.hljs-quote,.hljs-selector-pseudo,.hljs-selector-tag{color:#22863a}.hljs-subst{color:#24292e}.hljs-section{color:#005cc5;font-weight:700}.hljs-bullet{color:#735c0f}.hljs-emphasis{color:#24292e;font-style:italic}.hljs-strong{color:#24292e;font-weight:700}.hljs-addition{color:#22863a;background-color:#f0fff4}.hljs-deletion{color:#b31d28;background-color:#ffeef0}

:root {
    --bg-main: #F5F5F5;
    --bg-active: #f2f3f5;

    --blue: #23457f;
    --blue-alt: #0071bc;
    --blue-light: "#d9edf7";

    --font-large: 2.0rem;
    --font-medium: 1.5rem;
    --font-base: 1.2rem;

    --font-color: #000000;

    --margin-base: 1.2rem;
}

body {
    background-color: var(--bg-main);
    font-size: var(--font-base);
    font-family: sans-serif;     
}

h1,h2,h3,h4,h5,h6 {
    font-size: var(--font-medium);
    margin-top: var(--margin-base);
    margin-bottom: var(--margin-base);
    font-weight: bold;
    line-height: 3rem;
    text-align: left;
}

h2  {
    font-size: calc(var(--font-medium) * 0.95);
}

h3  {
    font-size: calc(var(--font-medium) * 0.90);
}

h4  {
    font-size: calc(var(--font-medium) * 0.85);
}

h5  {
    font-size: calc(var(--font-medium) * 0.80);
}

h6  {
    font-size: calc(var(--font-medium) * 0.75);
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: var(--margin-base);
    font-size: var(--font-base);
}

.navbar ul {
    list-style-type: none;
}

.title {
    font-size: var(--font-medium);
    font-weight: bold;
}

.title a {
    text-decoration: none;    
}

.title a:visited {
    color: var(--font-color);
}

.navbar-item {
    display: flex;
    justify-content: center; 
}

.navbar-item li {
    margin-left: var(--margin-base);
    margin-right: var(--margin-base);
}

.navbar-item a {
    color: var(--font-color);
}

main {
    margin: auto;
    width: 90%;
    line-height: 1.5rem;
    text-align: justify;
}

p {
    margin-top: var(--margin-base);
    margin-bottom: var(--margin-base);
}

.post {
    display: flex;
    justify-content: space-between;
    margin-top: var(--margin-base);
}

ul {
    list-style-type: disc;
}

a {
    color: var(--blue-alt);
    text-underline-offset: 0.25em;
}

a:hover {
    color: var(--blue);
}

.post:hover {
    color: gray;
}

.post-title {
    font-size: var(--font-large);
    text-align: center;
}

.project-card {
    border: 0.2rem solid black;
    border-radius: 0.75rem;
    padding: 1rem;
    margin-left: var(--margin-base);    
    margin-right: var(--margin-base);
    margin-bottom: var(--margin-base);
    display: flex;  
    flex-direction: column;
}

.project-title {    
    font-weight: bold;
    font-size: var(--font-medium);
}

.project-content {    
    flex-grow: 1;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}

@media (min-width: 1000px) {
    main {
        width: 40%;
    }

    .project-card {
        width: 40%;
    }
}