<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | {{ siteTitle }}</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <main>        
        {{ comp.navbar() | safe }}

        <h1  class="post-title">{{ title | safe }} </h1>

        {{ content | safe }}        
    </main>
</body>
</html>