<div class="project-card">
    <div class="project-title">{{ title }}</div>
    <div><hr/></div>
    <div class="project-content">{{ description }}</div>
    <br/>
    <a href={{ url }} target="_blank">{{ url_description }} &gt</a>
</div>
