{% set postList = search.pages("type=post", "date=desc", 3) %}

<h2>
Recent Posts
</h2>

<ul>    
  {% for page in postList %}
  <li>
    <div class="post">
        <a href={{ page.data.url }}>{{ page.data.title }}</a>
        <div class="post-date">{{ page.data.date | date('MM/dd/yyyy') }}</div>
    </div>
  </li>
  {% endfor %}
</ul>